* {
    box-sizing: border-box;
}

body {
    background-color: rgb(2, 2, 4);
    color: rgb(128, 206, 135);
    font-family: matrixSmall;
    width:100%;
}

section {
    width: 70%;
    margin: 0 auto;
}

canvas {
    display: block;
    position: fixed;
    z-index: -2;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: matrix;
    text-align: center;
    margin-bottom: 20px;
    font-size: 6rem;
    font-weight: 500;
}

h2 {
    font-family: matrix;
    text-align: center;
    margin-bottom: 20px;
    font-size: 4rem;
    font-weight: 500;
}

p {
    font-size: 1.5rem;
    padding: 50px;
    text-align: left;
}

a {
    text-decoration: none;
    color: rgb(146, 229, 161);
}

a:hover {
    color: rgb(215, 238, 215);
}

#traits,
#skills {
    ul {
        padding: 50px;

        li {
            display: inline-block;
            font-size: 1.5rem;
            padding: 20px;
        }
    }
}

#skills {
    ul {
        li {
            width: 200px;
            text-align: left;
        }
    }
}

#works {
    text-align: center;

    ul {
        width: 50%;
        margin: 0 auto;

        li {
            text-align: left;
            align-self: center;
            font-size: 1.5rem;
            padding: 20px;
        }
    }
}

img {
    height: 40px;
    width: 40px;
    padding-right: 10px;
}

main {
    text-align: center;
    padding-top: 100px;
    width: 100%;

    #welcome {
        h1,
        h2 {
            color: rgb(215, 238, 215);
            text-shadow: 0px 0px 4rem rgb(34, 180, 85);
        }
    }

    .content {
        background-color: rgba(2, 2, 4, 0.93);

        h2 {
            text-shadow: 0px 0px 2rem rgb(146, 229, 161);
        }
    }
}

.container {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 780px) {
    :root {
        font-size: 60%;
    }
}
